{
   "account" : {
      "email" : "spaul.vin@gmail.com",
      "password" : "053hdSySDVhMSQmP",
      "serverName" : "Home",
      "uid" : "{3031bad3-731d-41f6-8dd6-629299284389}",
      "uin" : 100001085541
   },
   "archive" : {
      "maxEventLogSize" : 0,
      "path" : "/opt/ivideon/Video/archive",
      "sizeLimit" : 51200,
      "sizeToCleanup" : 3072,
      "useArchive" : true,
      "webcamBitRate" : 2048,
      "webcamFrameRate" : 25,
      "webcamVideoFormat" : 1
   },
   "cameras" : [
      {
         "id" : 1,
         "md":"3S",
         "mdSensitivity" : 50,
         "name" : "Hikvision",
         "recordType" : "motion",
         "rtspTransport" : "auto",
         "urlHigh" : "rtsp://admin:qwerty123@192.168.88.64/Streaming/Channels/1",
         "useCameraMotionDetector" : false,
         "useSound" : false
      },{
         "id" : 2,
         "md":"3S",
         "mdSensitivity" : 50,
         "name" : "china",
         "recordType" : "motion",
         "rtspTransport" : "auto",
         "urlHigh" : "rtsp://192.168.88.106:554/user=admin&password=&channel=&stream=.sdp?real_stream--rtp-caching=100",
         "useCameraMotionDetector" : false,
         "useSound" : false
      }
   ],
   "externalScheduleFile" : "/opt/ivideon/Video/schedule.json",
   "localView" : {
      "passwordHash" : "",
      "proxyPort" : 3101,
      "streamerPort" : 8080
   },
   "logging" : {
      "isTruncate" : false,
      "path" : "/opt/ivideon/Video/service.log"
   },
   "network" : {
      "ivideonProxyHost" : "proxy.ivideon.com",
      "ivideonProxyPort" : 80
   },
   "system" : {
      "cwd" : "/opt/ivideon/Video"
   }
}